<!DOCtype html>

<header>
<h4>Are you ready to get coding?</h4>
</header>
<p>How many bright minds are in class today?</p>
<form id="myForm" method="post" action="names">
    Students to pair: <br />
    <input type="text" name="boxes[]" id="boxes">
    <input type="button" id="addPet" value="Add Student" onclick="createInputBoxes()"/>
    <input type="submit">
    <br/>
</form>

<!-- <form method = "post" action = "names" id = "text_box">
    <input type ="number" min = 2 autofocus = "autofocus" id ="myInput" oninput = "myFunction()" >
    <p id = "demo"></p>
    <br>
    <br>
    <input type = "submit">
</form></center> -->
<script>

function createInputBoxes(){
    var createInput = document.createElement("input");
    createInput.type = "text";
    createInput.name = "boxes[]";
    createInput.id = "boxes";
    var br = document.createElement("br");
    myForm.appendChild(createInput);
    myForm.appendChild(br);
}

    
</script>


